@import "./../../Utility/general.scss";

.main {
    width: 90%;
    margin: 30px auto;
}

.card_button {
    width: 100%;
    padding: 20px;
    background-color: $light-orange;
    border-radius: $btn-radius;
    text-align: center;
    transition: $transition;
    cursor: pointer;

    &:hover {
        background: radial-gradient(circle, rgba(252,190,128,1) 1%, rgba(245,244,239,1) 70%);
    }

    a {
        color: $dark-blue;
        font-weight: 600;
        font-size: 1.5rem;
    }
}

.page_wrapper {
    
    margin: 20px auto 30px;
    border-radius: $btn-radius;
    box-shadow: $dark-shadow;
}

