@import "./../../Utility/general.scss";

.input_wrapper{
    display: flex;
    margin-top: 30px;

    p{
        color: $light-yellow;
        font-size: 22px;
        font-weight: bold;
        margin-right: 10px;
    }

    input{
        border-radius: $btn-radius;
        border: none;
    }
  }